body {
  background-color: #061e3e;
  color: #fff;
  font-family: 'Roboto', sans-serif;
  user-select: none;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.container {
  width: 500px;
  text-align: center;
  position: relative;
  margin: auto;
}
.header {
  background-color: #f1f1f1;
  color: #061e3e;
  text-align: center;
  letter-spacing: 2px;
  padding: 20px
}

.desc {
  margin: 40px 0; 
  font-size: 1.25rem;
  word-spacing: 2px;
}

.word {
  font-size: 72px;
  margin: 20px 0 40px 0;
}

input {
  width: 80%;
  padding: 0.5rem 0.75rem;
  border-radius: 5px;
  border: none;
  outline: none;
  font-size: 1.25rem;
  color: #061e3e;
}

.output {
  margin: 20px 0;
}

h3 {
  margin: 10px 0;
  letter-spacing: 1px;
}

.instruction {
  margin: 30px 0;
  padding: 40px;
  font-size: 1.25rem;
}

.instruction h4 {
  letter-spacing: 2px;
  font-size: 22px;
}

.instruction p {
  margin: 10px 0 0 0;
}

@media (max-width: 414px) {
  .container {
    width: 100%;
  }
  p {
    font-size: 16px;
  }
}


/*    First Part of Page    */


#game {
  display: none;
}

#levels {
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: 0.2s ease;
}

.select-title {
  margin: 40px 0 20px 0; 
}

.level {
  margin: 25px 0 0 0;
  padding: 0.75rem;
  width: 12rem;
  border-radius: 8px;
  font-family: 'Roboto', sans-serif;
  font-weight: bolder;
  outline: none;
  border: none;
  cursor: pointer;
  letter-spacing: 3px;
}

